<td class="group-id"><span data-toggle="tooltip" title="{{ id }}">{{ id }}</span></td>
<td class="group-name"><span data-toggle="tooltip" title="{{ name }}">{{ name }}</span></td>
<td class="group-profiles">
	<span class="badge" data-toggle="tooltip" title="{{ profilesCount }} Groups">{{ profilesCount }}</span>

</td>
<td class="group-delete group-edit">
	<div class="btn-group">
		<button type="button" class="delete-group btn btn-mini" data-toggle="tooltip" title="Delete group">
			<i class="delete-group icon-remove"></i>
		</button>
		<button type="button" class="edit-group btn btn-mini"  data-toggle="tooltip" title="Edit group">
			<i class="edit-group icon-edit"></i>
		</button>
	</div>
</td>
