<div class="modal hide fade" id="profile-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ name }}</h3>
  </div>
  <div class="modal-body">

<!-- td class="profile-private-key"><span data-toggle="tooltip" title="{{ userAuthPrivateKeyLocation }}">{{ userAuthPrivateKeyLocation }}</span></td>
<td class="profile-groups">
	<span class="badge" data-toggle="tooltip" title="{{ dosProfileGroups.length }} Groups">{{ dosProfileGroups.length }}</span>
	{{#each dosProfileGroups}}
		<span class="label"  data-toggle="tooltip" title="{{ name }}">{{name}}</span>
	{{/each}}
</td -->
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputId">ID</label>
    <div class="controls">
      <input type="text" id="inputId" placeholder="ID" disabled value="{{ id }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="Name" value="{{ name }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputUser">User</label>
    <div class="controls">
      <input type="text" id="inputUser" placeholder="User" value="{{ user }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" value="{{ password }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputHost">Host</label>
    <div class="controls">
      <input type="text" id="inputHost" placeholder="Host" value="{{ host }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFilePath">File path</label>
    <div class="controls">
      <input type="text" id="inputFilePath" placeholder="File path" value="{{ filePath }}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputKeyLocation">Private key location</label>
    <div class="controls">
      <input type="text" id="inputKeyLocation" placeholder="Private key location" value="{{ userAuthPrivateKeyLocation }}">
    </div>
  </div>
</form>


  </div>
  <div class="modal-footer">
    <button class="btn" id="profile-modal-delete">Delete profile</button>
    <button class="btn" id="profile-modal-close">Close</button>
    <button class="btn btn-primary" id="profile-modal-save">Save changes</button>
  </div>
</div>



